openapi: "3.0.3"
info:
  title: SPI IHK content provider for graduation
  description: This is a graduation API for IHK content service provider.
  version: "1.0"
  license: 
    name: "Apache-2.0"
    url: https://www.apache.org/licenses/LICENSE-2.0
    
servers:
  - url: https://api.pruefung.io/spi

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
          example: 13
        message:
          type: string
          example: "This or that went wrong"

    OneTimePassword:
      type: object
      required:
        - otp_id
        - otp_type
        - subject_id
        - duration
        - otpstatus
      properties:
        otp_id:
          type: string
          example: "4g7a07i54"
          description: Unique identifier used as a one-time password or link
        otp_type:
          type: string
          enum: [tan, link]
          description: Type of the one-time password. TODO - discuss, if link is needed. May cause issues
        content_id:
          type: string
          example: "123456789012345678"
          description: Identifier for the graduation content
        subject_id:
          type: string
          example: "876543210987654321"
          description: Identifier for the subject or user to which the OTP is issued
        duration:
          type: string
          format: duration
          example: "PT15M" # ISO 8601 duration format
          description: Duration in seconds for which the OTP is valid
        otpstatus:
          $ref: "#/components/schemas/OtpStatus"
          description: Current status of the graduation associated with this OTP
        expiration:
          type: string
          format: date-time
        participation_id:
          type: string
          example: "participation-1234567890"
          description: Optional identifier for the participation, if applicable.

    Participation:
      type: object
      required:
        - participation_id
        - content_id
        - subject_id
      properties:
        participation_id:
          type: string
          example: "participation-1234567890"
          description: Unique identifier for the user's participation in the graduation process
        name:
          type: string
          example: "Zwischenprüfung Herbst 2026 - Fachinformatiker Anwendungsentwicklung"
          description: Name of the participation
          
    Participant:
      type: object
      required:
        - subject_id
        - participation_id
      properties:
        subject_id:
          type: string
          example: "876543210987654321"
          description: Identifier for the subject or user participating in the examination
        firstname:
          type: string
          example: "Max"
          description: First name of the participant
        lastname:
          type: string
          example: "Mustermann"
          description: Last name of the participant
        ihknumber:
          type: string
          example: "1234567890"
          description: IHK number of the participant

    OtpStatus:
      type: object
      required:
        - otp_id
        - status
      properties:
        otp_id:
          type: string
        status:
          type: string
          enum:
            [
              created,
              runnable,
              running,
              suspended,
              finished,
              aborted,
              archived,
              other,
            ]
          description:
            "Current status of the graduation associated with this OTP. The status can be one of the following:
            - created: The graduation has been created but not yet started.
            - runnable: The graduation is ready to be started.
            - running: The graduation is currently in progress.
            - suspended: The graduation has been temporarily paused.
            - finished: The graduation has been completed successfully.
            - aborted: The graduation was aborted before completion.
            - archived: The graduation has been archived and is no longer active.
            - other: Any other status that does not fit the above categories."
        last_updated:
          type: string
          format: date-time

    MonitorRegistration:
      type: object
      required:
        - monitor_id
        - content_id
      properties:
        monitor_id:
          type: string
        content_id:
          type: string
        callback_url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
            enum: [status_change, user_activity, system_alert]

security:
  - bearerAuth: []

paths:
  /graduations/otp:
    post:
      summary: Create several one-time passwords
      operationId: createOtp
      description:
        Generate one or more one-time passwords for accessing a specific graduation
        A one-time password (otp) can be used to access a graduation content or to perform actions related to it.
        Each OTP is associated with a specific content and subject (user).
        The content is identified by a content_id and normally is unique for each graduation and profession.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required:
                  - content_id
                  - subject_id
                properties:
                  content_id:
                    type: string
                    description: Identifier for the graduation content
                    example: "123456789012345678"
                  subject_id:
                    type: string
                    description: Identifier for the subject or user to which the OTP is issued
                    example: "876543210987654321"
                  participation:
                    $ref: "#/components/schemas/Participation"
                  participant:
                    $ref: "#/components/schemas/Participant"

      responses:
        "201":
          description: OTP successfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OneTimePassword"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Graduation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /graduations/{content_id}/status:
    get:
      summary: Get current graduation status
      description: Retrieve the current status of a graduation
      operationId: getExaminationStatus
      parameters:
        - name: content_id
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: Status retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OtpStatus"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Graduation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      summary: Update examination status
      description: Change the status of a examination
      operationId: updateExaminationStatus
      parameters:
        - name: content_id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum: [created, unlocked, running, paused, completed]
                details:
                  type: string
      responses:
        "200":
          description: Status updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OtpStatus"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Graduation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /monitoring:
    post:
      summary: Subcribe for monitoring
      description: Subcribe for monitoring events
      operationId: subscribeForMonitoring
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - content_id
              properties:
                content_id:
                  type: string
                callback_url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    type: string
                    enum: [status_change, user_activity, system_alert]
      responses:
        "201":
          description: Monitoring successfully registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorRegistration"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /monitoring/{monitor_id}:
    delete:
      summary: Unsubscribe from monitoring
      description: Unsubscribe a monitoring listener
      operationId: unsubscribeMonitoring
      parameters:
        - name: monitor_id
          required: true
          in: path
          schema:
            type: string
      responses:
        "204":
          description: Monitoring successfully unsubcribed
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Monitor registration not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
